.container{
    background-color: var(--clr5);
    height: auto;
    
}

.price-container{
    padding: 10px 50px 50px 50px;
    margin-bottom: 50px;
}

.price-description{
    color: aliceblue;
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    margin-bottom: 0;
}

.container-h2 {
	color: var(--clr4);
	font-size: 40px;
	padding: 50px 0;
	text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px var(--clr5);
    background-color: var(--clr2);
    margin: 50px ;
}

.price-row {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 25px;
    
}

.p-crystal,.p-crystal2,.p-designs,.p-slay,.p-gold {
	background: var(--clr3);
	padding: 10% 15%;
	color: aliceblue;
	text-align: center;
    border: 10px solid var(--clr2);
}

.price-col-p {
	font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    color: aliceblue;
    text-shadow: 2px 2px var(--clr5);
    background-color: var(--clr3);
}

.price-col-h3 {
	font-size: 44px;
	margin: 20px 0 40px;
	font-weight: 500;
    text-align: center;
}

.price-col-ul {
	margin: 20px 0;
	color: var(--clr5);
   list-style: none;
   position: static;
   padding: 0;
}
.price{
    font-size: 30px;
}

.price-col-ul-li {
	margin: 15px 0;
	size: 20px;
    color: aliceblue;
    
}

.priceBooking-h3{
    color: var(--clr4);
    text-shadow: 2px 2px var(--clr5);
    background-color: var(--clr2);
    margin: 50px 300px 30px 300px;
    padding:10px 0px 10px 0px;
    font-size: 40px;
    
}

.priceBooking-p{
    color: aliceblue;
    margin: 25px 100px 50px;

    font-size: 25px;
}



@media only screen and (max-width: 1050px){
    .price-row {
        display: block;   
    }

    .p-crystal,.p-crystal2,.p-designs,.p-slay,.p-gold {
        padding: 25px;
        margin: 0px 200px 50px;
        
    }
     
    }


@media only screen and (max-width: 980px){
    .priceBooking-h3{
        margin: 50px 100px 50px 100px;
     
    }
    .priceBooking-p{
       
        margin: 25px 25px 50px;
    
       
    }
     
    }

 @media only screen and (max-width: 425px){
                                         
                                            .priceBooking-h3{
                                                font-size: 25px;
                                            }
                                             
                                            }
                                         
                                               



    @media only screen and (max-width: 720px){
        .p-crystal,.p-crystal2,.p-designs,.p-slay,.p-gold {
            padding: 25px;
            margin: 0px 100px 50px;
            
        }
    }

    @media only screen and (max-width: 575px){
        .priceBooking-h3{
            margin: 50px;
         
        }}

       

        @media only screen and (max-width: 520px){
            .priceBooking-h3{
              
               margin:25px;
             
            }

            .container-h2 {
                font-size: 35px;
                padding: 25px ;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 30px 30px 10px 30px;
            }

            .price-description{
                text-align: center;
                margin: auto;
                padding: 20px 20px 40px 20px;
                font-size: 20px;
            }

            .price-container{
                padding: 10px 20px 50px;
                margin-bottom: 50px;
            }

            .p-crystal,.p-crystal2,.p-designs,.p-slay,.p-gold {
                padding: 25px;
                margin: 0px 50px 30px;
                
            }

            .priceBooking-p{
                font-size: 20px;
            }
             
            }

            @media only screen and (max-width: 310px){
                .p-crystal,.p-crystal2,.p-designs,.p-slay,.p-gold {
                    padding: 25px;
                    margin: 0px 20px 30px;
                    
                }}






