

.hero {
  height: 550px;
  background-size: cover;
  background-position: top;
  position: relative;
  text-align: center;
}


@media only screen and (max-width: 1250px){

  .hero {
    height: 450px;
  }
}

@media only screen and (max-width: 1050px){
  .hero {
   height: 360px
  }
  
 }

 @media only screen and (max-width: 800px){
  .hero {
   height: 280px;
  }}

  @media only screen and (max-width: 650px){
    .hero {
     height: 210px;
    }
  
 }

 @media only screen and (max-width: 480px){
  .hero {
   height: 170px;
  }

}

@media only screen and (max-width: 350px){
  .hero {
   height: 120px;
  }

}