.sleep{
  background-color: var(--clr5);
  padding: 25px;
}

.logoHero {
  height: 200px;
  background-size: contain;

background-position: center;
background-repeat: space repeat;
  text-align: center;
}

.logoHero h1 {
  font-size: 80px;
  padding-top: 120px;
  margin-top: 0;
  color: var(--clr2);
  text-shadow: 2px 2px var(--clr5);
}

.logoHero h2 {
  font-size: 60px;
  color: var(--clr5);
  text-shadow: 2px 2px var(--clr1);
}

@media only screen and (max-width: 480px){
  .logoHero h1 {
    font-size: 50px;
  }
  .logoHero {
    height: 360px;
  }
}

@media only screen and (max-width: 550px){
  .logoHero h1 {
   font-size: 60px;
  }
  
 }

 @media only screen and (max-width: 410px){
  .logoHero h1 {
   font-size: 40px;
  }
  
 }