.tagline-h2{
  background-color: var(--clr2);
  font-size: 25px;
  color: white;
  margin: 0;
  padding: 15px;
}


@media only screen and (max-width: 725px){
  .tagline-h2 {
    font-size: 20px;
   
  }
}

@media only screen and (max-width: 310px){
  .tagline-h2 {
    font-size: 15px;
   
  }
}