.gallery-grid {
  border-radius: 10px;
  margin: 25px 100px 25px 100px;
  position: relative;
  justify-content: center;
}
.gallery-gridArea {
  margin-top: 10px;
  display: grid;
 padding: 0;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "one two three";
}

.one {
  background-size: cover;
  margin: 10px;
}

.two {
  background-size: cover;
  margin: 10px;
}
.three {
  background-size: cover;
  margin: 10px;
}

.option-grid{
  border-radius: 10px;
  margin: 25px 100px 5px 100px;
  position: relative;
  justify-content: center;
  
}

.option-gridArea{
  margin-top: 20px;
  display: grid;
 padding: 0;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "optionOne optionTwo optionThree optionFour optionFive";
  
}

.optionOne,.optionTwo,.optionThree,.optionFour,.optionFive{
  background-size: cover;
  margin: 10px;
  padding: auto;
}

@media only screen and (max-width: 950px){
  .gallery-grid {
    margin: 25px;
  

}}

@media only screen and (max-width: 900px){
  .option-grid{
    margin: 25px 25px 5px 25px;
    
  }
  .option-gridArea{
    height: 200px;
  }
}

@media only screen and (max-width: 600px){
 .option-gridArea{
  grid-template-columns: 1fr!important;
  grid-template-rows: repeat(5, 300px);
  grid-gap: 10px;
  grid-auto-flow: column;
  height: auto;
  padding-left: 30px;
  margin-bottom: 20px;
  
 }

 .option-grid{
  justify-content: center;
  margin: 0;
  
 }

 .optionOne,.optionTwo,.optionThree,.optionFour,.optionFive{
  background-size: cover;
  margin: 10px 10px 10px 20px;
 
}
}



@media only screen and (max-width: 510px){
  .gallery-gridArea{
  height: 150px;



}
.gallery-grid{
  margin: 5px;
}
}