:root {
	--clr1: #FFBAD5;
	--clr2: #CB96D6;
	--clr3: #AF9CD9;
	--clr4: #808CC2;
	--clr5: #98C4D9;
}

.app {
  text-align: center;
  background-color: var(--clr1);
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}
html, body {
	min-height: 100%;
	display: flexbox;
	flex-direction: column;
}

.body-section{
	justify-content: center;
}

.wrapper{
	margin: 10px;
	justify-content: center !important;
	display: inline;
}
